In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [25]:
data=pd.read_csv('C:\\Users\\Kunal Dhariwal\\Downloads\\city_weather.csv')

In [26]:
data.drop(['Unnamed: 0','date_txt','lat','lon','country','temp_max','temp'], axis=1, inplace=True)

In [27]:
data.head()

,name,clouds,rain,wind_direction_deg,wind_speed,sea_level,grnd_level,temp_min,humidity,pressure
0,Mumbai,16,0.0,12.291,2.461,1010,1005.797,304.233,63,1010
1,Mumbai,0,0.0,58.298,1.823,1011,1007.287,302.000,65,1011
2,Mumbai,12,0.0,88.312,2.105,1011,1007.842,300.400,66,1011
3,Mumbai,100,0.0,69.014,2.295,1010,1006.776,299.885,64,1010
4,Mumbai,100,0.0,54.559,2.768,1010,1006.822,298.995,66,1010

In [28]:
y = data.temp_min
X = data.drop(['name', 'clouds','rain', 'wind_direction_deg', 'wind_speed', 'temp_min','pressure'], axis=1)

In [29]:
X.head()

   sea_level  grnd_level  humidity
0       1010    1005.797        63
1       1011    1007.287        65
2       1011    1007.842        66
3       1010    1006.776        64
4       1010    1006.822        66

In [30]:
data.columns

Index(['name', 'clouds', 'rain', 'wind_direction_deg', 'wind_speed',
       'sea_level', 'grnd_level', 'temp_min', 'humidity', 'pressure'],
      dtype='object')

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
print("\nX_train:\n")
print(X_train.head())
print(X_train.shape)

print("\nX_test:\n")
print(X_test.head())
print(X_test.shape)

X_train:

      sea_level  grnd_level  humidity
1735       1010     980.467        19
427        1011     998.186        59
612        1009    1005.550        67
1056       1009     986.527        34
913        1012     964.824        82
(1600, 3)

X_test:

      sea_level  grnd_level  humidity
1224       1009    1000.204        67
1686       1012    1007.489        73
592        1012     962.853        75
1994       1012     936.930        91
255        1011    1009.587        66
(400, 3)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
reg.score(X_test,y_test)

0.7693322437982282

In [35]:
y_pred = reg.predict(X_test)

In [36]:
y_pred

array([301.76194232, 299.78734622, 297.43249217, 294.52381203,
       301.18255696, 301.32127584, 300.15399267, 296.33024386,
       303.16021963, 300.78948194, 294.77656081, 294.19082675,
       299.150778  , 302.89033987, 298.66876081, 299.38234324,
       300.06954382, 303.34353547, 303.27264573, 302.45875563,
       298.56538671, 297.91952421, 302.01207984, 300.08498667,
       303.57150081, 295.49597336, 296.39876196, 304.13469501,
       298.75031745, 301.22758514, 295.51998976, 294.66713941,
       300.94602493, 294.76440528, 302.24496706, 295.7125133 ,
       299.62536836, 298.84351177, 298.2896031 , 301.48353107,
       301.51727396, 301.48181487, 296.51967669, 302.51342416,
       300.13585865, 304.57829909, 296.60125995, 304.72786109,
       299.9439054 , 299.06059623, 299.53744917, 304.229554  ,
       296.38850561, 300.67731351, 284.80718895, 288.89517391,
       300.33754298, 299.58187958, 300.20801532, 299.7603035 ,
       295.04732529, 301.91103862, 300.0315825 , 303.82631555,
       302.20223417, 303.10779458, 298.7306397 , 295.70361322,
       298.21857085, 296.59451515, 301.38444504, 294.56666094,
       300.96525075, 298.29696382, 298.14124554, 300.76008903,
       300.82233821, 302.92585053, 297.1941065 , 303.16117046,
       294.16632147, 303.60122779, 304.93649745, 299.57242122,
       297.51752088, 299.25978362, 300.34085526, 303.45915273,
       296.84081644, 301.63136568, 295.71481012, 296.49022618,
       298.05287451, 303.78330424, 298.58150134, 300.67731351,
       303.56653236, 298.19270496, 299.40077716, 299.65366267,
       296.62043686, 300.59417017, 297.86643771, 298.60910825,
       300.53916925, 295.48877248, 301.54264154, 301.86617542,
       297.0717942 , 298.71924101, 300.77754202, 304.79857475,
       300.92286568, 301.82320615, 303.8733065 , 297.31316833,
       302.19242108, 299.32502298, 302.61280329, 295.34228138,
       297.75695373, 296.22408315, 300.40915446, 302.69899505,
       294.8691727 , 301.05693163, 300.65102163, 295.4177409 ,
       294.7039342 , 301.0526701 , 295.13771238, 298.43782587,
       295.01143932, 289.52626782, 300.89708313, 302.44641892,
       302.2253005 , 288.92395006, 297.60097932, 294.5142609 ,
       305.0545414 , 301.19222573, 304.229554  , 295.86386793,
       301.77352661, 300.86920051, 302.16368185, 301.09418159,
       296.24065733, 298.77728377, 294.68253424, 300.65102163,
       300.50111344, 298.63186624, 295.85029073, 300.05149301,
       299.2347399 , 296.79710672, 302.76713857, 295.83806137,
       301.17577524, 300.65102163, 301.61684879, 285.53948288,
       300.43241664, 299.46639625, 296.71735319, 291.41255033,
       297.94353632, 302.69086643, 305.34056918, 295.21240657,
       294.20884751, 298.42636526, 296.82128648, 300.26733792,
       298.26976998, 295.31126933, 302.01692442, 293.97445694,
       303.25842771, 285.44116907, 301.96922145, 294.76466646,
       294.96492503, 296.54925335, 295.55252149, 296.44844503,
       285.13109218, 299.06984241, 302.41492927, 303.1679135 ,
       301.28577731, 299.35692661, 301.62581827, 301.91450206,
       303.86171963, 304.72786109, 300.53412011, 298.33935498,
       297.02271595, 297.3705307 , 302.55658064, 300.3038931 ,
       298.16453701, 303.41591985, 302.21931502, 303.86587186,
       293.95917898, 301.38837227, 296.11316188, 295.31615092,
       298.24201172, 303.93275707, 297.93376186, 295.11734831,
       298.03505293, 300.7356277 , 299.46722434, 305.01731282,
       298.98886215, 284.25081077, 296.94702006, 301.40803798,
       295.62382783, 296.22030961, 304.28347097, 296.90131153,
       300.37168366, 300.0568221 , 302.75638927, 295.84751535,
       294.68672352, 298.71423564, 298.10555618, 301.89442676,
       300.35201533, 301.8223481 , 301.19904694, 298.23900016,
       299.57283434, 296.69558204, 298.74285714, 302.08898074,
       298.2126609 , 303.66691551, 301.12291221, 302.75638927,
       301.00056291, 301.45032941, 297.95413025, 305.0706517 ,
       295.63429379, 300.30461465, 301.93140963, 295.63203207,
       287.10146024, 297.39454462, 298.98714067, 300.70747175,
       300.32169649, 300.8592525 , 302.32447331, 299.03614938,
       294.81344499, 296.22830162, 301.32244413, 297.61377658,
       293.52125705, 297.52123341, 305.15458264, 297.57612098,
       294.93282722, 298.29684008, 297.31607254, 296.93179187,
       296.04578887, 298.34058333, 295.07607734, 300.89212425,
       297.99391255, 299.4848558 , 296.82724953, 304.84131036,
       286.0996509 , 295.19978887, 298.55194435, 299.99287206,
       303.24670172, 299.79052018, 301.00720203, 301.24289925,
       298.37179642, 299.44258508, 298.24943069, 302.01910293,
       302.77330356, 300.32924358, 300.55127144, 295.29540555,
       303.59441526, 301.5723618 , 294.00545442, 298.99290707,
       296.85446832, 301.3953464 , 300.41307137, 301.24628702,
       298.57091598, 299.44796571, 301.6986502 , 298.44732895,
       302.58595989, 295.87830842, 302.8992468 , 300.52287169,
       290.82404857, 298.45902069, 298.71186138, 301.8223481 ,
       297.97025864, 299.0606521 , 296.7172758 , 295.69041494,
       304.89160924, 294.81849499, 304.69313303, 297.8942467 ,
       299.27464765, 298.02078351, 296.4379413 , 300.6729954 ,
       295.40287186, 295.39425788, 302.23285449, 304.95121708,
       297.37790342, 295.60445937, 296.38649379, 299.47671519,
       301.7162114 , 295.69086764, 304.62858693, 301.07192602,
       299.06834173, 297.81431948, 304.62444146, 305.48699412,
       303.17795853, 297.68555709, 294.98695041, 301.32127584,
       297.79001265, 296.19361224, 300.18438709, 295.6280876 ,
       303.04523186, 297.63818904, 300.08930226, 303.3583986 ,
       298.60110685, 301.09861658, 301.71733673, 298.77774413,
       287.59501457, 296.01233126, 296.35399573, 303.19063372,
       304.96357707, 297.69461167, 296.1354235 , 300.04115507,
       300.9781416 , 301.48252523, 295.7550272 , 304.59499701,
       295.23024864, 304.75047315, 301.79732744, 301.68454905,
       296.67981361, 300.5271837 , 302.69325865, 302.12141018,
       300.0312484 , 295.71406199, 299.2347399 , 298.87313564,
       302.49247095, 302.86521186, 301.26672571, 295.33727863,
       294.78920166, 296.49257634, 301.61684879, 300.0086741 ,
       299.43169653, 299.29124155, 297.37790342, 303.44179946])

In [37]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

C:\Users\Kunal Dhariwal\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [39]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=400, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [41]:
clf.score(X_test,y_test)

0.865035641511732

In [42]:
clf.predict(X_test)

array([298.84196326, 300.53643778, 296.4084631 , 295.14907499,
       303.27122051, 299.3470419 , 301.84047705, 295.97473102,
       304.3237069 , 300.19187308, 297.38461762, 294.71339587,
       300.21533052, 303.677731  , 300.74682173, 297.10166342,
       299.64268489, 305.91525192, 303.80889845, 299.78086082,
       296.62294812, 298.90005315, 302.88411899, 299.39500244,
       303.43337109, 296.71433234, 296.9578511 , 305.47248013,
       298.45254943, 299.84358338, 297.55976953, 296.38311816,
       299.24733242, 296.59458422, 302.62407919, 295.54435142,
       298.46551077, 300.51885851, 301.43805336, 299.36096912,
       300.40758135, 298.67371348, 297.86018608, 305.09225266,
       300.67985997, 305.55677456, 296.77978668, 303.91223499,
       301.56562254, 298.49959207, 296.69286508, 305.94701321,
       296.69758053, 300.80465157, 282.27552512, 287.94115692,
       302.47491492, 301.22819605, 299.38982607, 299.05941536,
       295.78758296, 298.91803917, 296.7806855 , 304.68613214,
       303.35770944, 305.13787416, 297.82900682, 296.76130764,
       298.56357265, 296.11595146, 297.99353838, 294.66857797,
       300.99240396, 297.56009938, 297.05548859, 299.02691976,
       302.50793803, 304.98410377, 294.86983803, 300.5755484 ,
       296.77657403, 305.45600321, 307.00904362, 297.30410415,
       300.19426999, 298.139383  , 302.0182626 , 303.06003975,
       296.69629869, 303.87129182, 298.75672197, 296.20684533,
       297.76583242, 302.51552531, 296.58532453, 300.80465157,
       305.20219481, 297.64941057, 299.12957575, 300.76550478,
       296.56900562, 296.90593463, 297.79766811, 302.01411084,
       302.60239728, 294.97955269, 304.66995288, 299.72503172,
       296.24914992, 297.40417884, 302.25524922, 304.48928022,
       304.12165857, 302.99918849, 302.02309949, 297.28429902,
       303.09070337, 297.2709344 , 300.94147235, 295.00779269,
       300.19250461, 296.52171228, 301.54457281, 302.73711399,
       295.90315626, 301.27894761, 299.82583491, 297.53244159,
       296.31287932, 298.63002365, 296.37097606, 295.33129942,
       294.6776267 , 293.46012599, 303.83517778, 303.61766833,
       299.9939898 , 293.32610493, 298.2495388 , 296.01266925,
       307.4933511 , 302.19055567, 305.94701321, 294.76891757,
       299.853146  , 300.90531547, 298.37271909, 299.77144862,
       296.44702421, 297.72527841, 292.97676634, 299.82583491,
       297.2411085 , 295.76148196, 296.34786145, 301.26048207,
       299.35238663, 296.97074014, 304.50627562, 295.07951777,
       301.71719322, 299.82583491, 299.47270709, 281.22641274,
       299.45377684, 301.4226069 , 295.57805326, 296.94714444,
       298.22644655, 301.57508389, 304.87706212, 296.33799084,
       293.9036007 , 298.13758663, 297.68587946, 297.35321067,
       298.18701978, 295.80993925, 300.34703424, 294.96690697,
       305.26819482, 280.59796932, 300.10314123, 294.14522132,
       296.19275993, 295.74696902, 296.70203674, 296.87290695,
       281.47426526, 298.49052057, 303.42216093, 303.56472805,
       304.50382035, 301.97666051, 301.65020431, 298.87967356,
       305.33724979, 303.91223499, 299.6601734 , 296.28065378,
       296.23220335, 299.27026784, 304.31275932, 302.00423866,
       299.73734622, 302.20275918, 305.66921111, 308.04073709,
       294.19669615, 300.53283807, 298.07852461, 296.06854343,
       297.98838411, 304.75492257, 301.47776353, 294.72167348,
       294.67153409, 299.12977675, 300.06946292, 306.85813337,
       297.60550384, 281.90703891, 294.56168353, 301.74495087,
       297.27653674, 295.73696677, 305.13498717, 296.0892298 ,
       302.25683102, 296.52364318, 304.05602082, 295.36317684,
       294.80349011, 299.84319259, 300.01063105, 302.06370064,
       299.00545831, 299.86532702, 303.45920793, 298.50147941,
       299.45028245, 294.61568132, 301.48903646, 300.27303069,
       298.70146697, 305.07684715, 300.02250704, 304.05602082,
       305.06305565, 300.77891778, 298.37935447, 307.78205321,
       293.86047685, 302.00423866, 299.9407829 , 294.14664795,
       286.87654775, 297.02697898, 298.01668132, 302.05011128,
       296.82096984, 301.81418252, 304.269406  , 299.39371047,
       295.52533755, 296.95448289, 299.81094498, 298.25510211,
       294.16070171, 295.16011067, 309.94486935, 296.82743846,
       296.3082844 , 297.39007503, 294.12494541, 298.46976607,
       297.01074795, 296.52629211, 295.73955328, 298.97175409,
       300.16581253, 301.48660877, 298.05993734, 304.71103004,
       283.44939092, 297.16625893, 298.79822909, 299.50036035,
       304.98634124, 300.96363719, 302.34171524, 302.06108378,
       298.85211047, 299.48762045, 298.1435023 , 299.5913053 ,
       303.34729717, 301.79650376, 298.0812294 , 294.73909023,
       305.73309665, 301.96066801, 294.99634414, 301.31407168,
       297.01588469, 301.79006188, 301.12421893, 301.34022835,
       299.04145738, 297.72363423, 300.11014922, 300.43882109,
       301.76928119, 296.9805349 , 297.96086235, 302.01455696,
       294.71793353, 296.57258831, 296.98946033, 299.86532702,
       300.32236104, 300.53910925, 296.42699339, 295.45540858,
       306.78614001, 292.881268  , 307.60522659, 298.30676826,
       299.82624134, 298.05872062, 295.38571252, 300.36461509,
       297.2083565 , 297.05556412, 305.27296897, 307.27485756,
       299.53800567, 295.59560105, 296.19835477, 299.65531604,
       298.51393882, 296.37443649, 305.6724403 , 300.47250507,
       297.77982657, 299.7270322 , 306.6446145 , 308.31458505,
       299.63339231, 297.93005932, 295.64488022, 299.3470419 ,
       295.9385304 , 296.60359539, 299.42910473, 294.54197708,
       304.08331791, 300.36218841, 301.78312045, 304.44397329,
       299.15327127, 300.61196019, 302.1274934 , 300.32896603,
       287.98287455, 294.83254713, 294.70042453, 307.84947091,
       307.64058966, 298.79823603, 295.63310699, 296.61210621,
       299.97781236, 302.14266476, 295.16483145, 307.86829715,
       296.58098475, 306.64255747, 299.84881086, 302.32768835,
       295.90021267, 298.9206773 , 304.42529465, 301.71168134,
       301.05038686, 296.46967888, 299.35238663, 296.46386453,
       301.85113764, 305.92888911, 301.2858418 , 294.9807773 ,
       298.19303938, 299.42341965, 299.47270709, 297.87172936,
       300.6740606 , 300.7942647 , 299.53800567, 303.80771081])

In [43]:
X_test

      sea_level  grnd_level  humidity
1224       1009    1000.204        67
1686       1012    1007.489        73
592        1012     962.853        75
1994       1012     936.930        91
255        1011    1009.587        66
1053       1013     990.718        45
1462       1012    1008.634        70
1947       1012     959.370        84
1599       1009    1007.682        57
794        1013    1007.730        58
1557       1015     953.815        80
1346       1013     939.642        90
310        1013    1010.367        75
1831       1012     976.999        29
1392       1011     983.237        78
1905       1015     976.156        46
756        1010    1004.882        80
1679       1011     976.786        30
376        1010     963.519        30
1123       1011     995.096        47
1691       1010    1005.998        95
343        1010     938.596        70
1184       1009    1005.404        67
1791       1011     975.975        61
431        1010     997.799        43
1555       1013     951.661        83
1331       1011     938.206        79
1400       1011     984.597        26
1506       1013    1002.042        75
1210       1011    1001.887        62
...         ...         ...       ...
1924       1012     959.638        86
420        1011     998.813        72
1045       1014     991.060        43
1518       1012    1001.708        54
1323       1012     938.776        80
951        1011     992.007        25
157        1013     950.455        85
184        1010    1005.036        35
426        1011     998.618        55
734        1013    1006.906        49
1929       1012     960.160        81
1649       1013     978.528        47
1823       1012     977.220        31
720        1010    1004.357        60
159        1008     945.955        64
1957       1014     961.511        80
32         1011    1007.957        84
1659       1013     978.687        63
290        1011    1008.751        53
1134       1013     996.906        33
366        1014     966.833        29
1523       1013     952.680        85
1525       1016     955.076        75
1542       1014     953.946        69
4          1010    1006.822        66
1499       1012    1001.295        68
664        1011     958.076        59
1181       1013    1008.969        73
689        1012     940.128        65
1722       1012     981.986        26

[400 rows x 3 columns]